{% extends 'products/base.html' %}
{% load static %}
{% block content %}
<img src="/media/products/bunner.jpg" class="img" width="100%" height="250" alt="bunner">

<div class="album py-4 bg-body-tertiary text-center">
    <h1>Store</h1>
    <div class="container">
        <div class="row">
            <p class="d-inline-flex gap-1"></p>

            {% for object in object_list %}
            <div class="col-3">
                <div class="card shadow-sm">

                    <div class="text-center">
                        <img src="/media/{{ object.image }}" class="rounded" alt="preview" width="100%" height="200">
                    </div>

                    <div class="card-body">
                        <p class="text-center">{{ object.description | truncatechars:100}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{% url 'products:view' object.pk %}" type="button"
                                   class="btn btn-outline-light">to item</a>
                            </div>
                            <p class="text-break">{{ object.price }}RUB</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endblock %}