{% extends 'products/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row">
    <div class="col">

        <a href="{% url 'products:list' %}" type="button"
                       class="btn btn-outline-light">Back to list</a>

        <div class="card shadow-sm">
                <p class="text-center">{{ object.name }}</p></svg>
            <p class="text-center">{{ object.category }}</p></svg>

            <div class="text-center">
                <img src="{{ object.image | mymedia }}" class="rounded" alt="Card image cap">
            </div>

            <div class="card-body">
                <p class="text-center">{{ object.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <div class="btn-group">
                        </div>
                    </div>
                    <p class="text-break">{{ object.price }}RUB</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}